/* NavBar styles */
.nav-bar {
    flex-direction: row;
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    flex-direction: row-reverse;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  a{
    font-size: large;
    color: white;
    text-decoration: none;
  }
  .titulo{
    color: #9c7710;
    margin:5px;
  }
